body{
    box-sizing: border-box;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D2D5DA;
}
.container{
    color: #030616;
    background-color: #FFFFFF;
    font-family:"Inter";
    font-size: 1rem;
    width: 768px;
    font-weight: 80vh;
    text-align: left;
    padding: 5rem 15rem;
    margin: 8rem 8rem ;
    
}
a{
    text-decoration: none;
    color: #4E80EE;
}
h1{
    
    font-size: 2.25rem;
    font-weight: 600px;
}
b{
    font-weight: 400px;
}
.heading{
    
    text-align: center;
    line-height: 30px;
}
.content1{
    margin-top: 8rem;
    line-height: 30px;
}
.content2{
    margin-top: 3rem;
    line-height: 30px;

}
hr{
    color: D2D5DA;
    margin-top: 2rem;
}
.content2 ul{
    line-height: 20px;

}
footer{
    margin-top: 2rem;
    line-height:30px ;
}
